<title>Login</title>
{% extends "logAndreg/layout.html" %}

{%block head%}

    

{%endblock head%}

{%block content%}
    {%load static %}
<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron bg-light loginBG" style="background-image:url(https://s3.us-east-2.amazonaws.com/maadecommerce/static/logAndreg/image/girlShopping.jpg);">
            <div class="">
                <divc class="row">
                
                    <div class="header col-7 mr-3">
                        <h1 class=" font-weight-light">Welcome Back</h1>
                        <p class="text-dark col-10">Make the right move just like most of the nation have. We provide lower price with higher quality.</p>
                    </div>
                    
                    <div class="col-4 ml-5 formss">
                        <h4 class="mb-3">Login Information</h4>
                        {% if messages %}
                            <ul class="messages list-inline text-danger">
                            {% for message in messages %}
                                <li{% if message.tags %} class="ml-4 {{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <form  action="{%url 'userLG:proccess'%}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="font-weight-bold text-light bg-dark rounded pl-2 pr-2">Email</label>
                                <input type="text" class="form-control pb-4 pt-4" name="email" id="email" placeholder="you@example.com">
                                
                            </div>
                            <div class="mb-3">
                                <label for="password" class="font-weight-bold text-light bg-dark rounded pl-2 pr-2">Password</label>
                                <input type="password" class="form-control pb-4 pt-4" name="password" id="password" placeholder="password">
                                
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        </form>
                        <small class="text-light">Need an Account? <span class="ml-2"><a href="{%url 'userLG:registration'%}">Register Here</a></span></small>
                    </div>
                </div>

            </div>
            
        </div>

        <!-- FOOTER -->
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2018 MAAD</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>

    </main>


{%endblock content%}
