{%extends './AdminLayout.html'%}

{%block head%}
    <title>Admin</title>
{%endblock head%}


{%block content%}

    <h1 class="mt-4 text-center font-weight-light adminName"> Hello {{user.first_name}} <small class="bg-success rounded text-white pl-1 pr-1">Admin</small>  </h1>
    <hr>
    <form id="searchForm" action="{%url 'adminDashboard:searchOrders'%}" method="post" class="mb-4 mt-3">
        {% csrf_token %}
        <div class="row">
            <div class="col-10 form-inline">
                <input class="form-control" type="text"  id="searchOrder" name="searchOrder" placeholder="Search.." aria-label="Search">
            </div>
        </div>
    </form>
    <div id="orderlist">
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Billing Address</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index in orders %}
                        <tr>
                            <th scope="row"><a href="{%url 'adminDashboard:viewProduct' order_id=index.order_id%}">{{index.order_id}}</a></th>
                            <td>{{index.user.first_name}} {{index.user.last_name}}</td>
                            <td>{{index.created_at}}</td>
                            <td>20640 65th Dr SE Seattle</td>
                            <td>${{index.totalCost}}</td>
                            <td>
                                <select class="custom-select OrderStatus">
                                    {%if index.OrderStatus in "Order In"%}
                                        <option value="orderIn",data-orderId="{{index.order_id}}" selected >Order In</option>
                                        <option  value="shipped", data-orderId="{{index.order_id}}">Shipped</option>
                                        <option value="cancel",data-orderId="{{index.order_id}}">Cancelled</option>
                                    {%endif%}
                                    {%if index.OrderStatus in "shipped"%}
                                        <option value="orderIn",data-orderId="{{index.order_id}}">Order In</option>
                                        <option  value="shipped", data-orderId="{{index.order_id}}" selected >Shipped</option>
                                        <option value="cancel",data-orderId="{{index.order_id}}">Cancelled</option>
                                    {%endif%}
                                    {%if index.OrderStatus in "cancel"%}
                                        <option value="orderIn",data-orderId="{{index.order_id}}" >Order In</option>
                                        <option  value="shipped", data-orderId="{{index.order_id}}">Shipped</option>
                                        <option value="cancel",data-orderId="{{index.order_id}}" selected>Cancelled</option>
                                    {%endif%}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                
                </tbody>
            </table>

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if orders.has_previous %}
                    <a href="?page=1" class=" btn btn-outline-dark mt-3">First</a>
                    <a href="?page={{ orders.previous_page_number }}" class=" btn btn-outline-dark mt-3">Previous</a>
                {% endif %}

                {% for num in orders.paginator.page_range  %}
                
                    {% ifequal orders.number num %}
                        <a href="?page={{num}}" class=" btn btn-info mt-3">{{num}}</a>
                    
                    {%else%}
                        {% if num > orders.number|add:'-3' and num < orders.number|add:'3' %}
                            <a href="?page={{num}}" class=" btn btn-outline-info mt-3">{{num}}</a>
                        {%endif%}
                    {% endifequal %}
                {% endfor %}

        
                {% if orders.has_next %}
                    <a href="?page={{ orders.next_page_number }}" class=" btn btn-outline-dark mt-3">Next</a>
                    <a href="?page={{ orders.paginator.num_pages }}"class=" btn btn-outline-dark mt-3">Last</a>
                {% endif %}
            </span>
        </div>
    </div>
    
    <script>

        $( ".OrderStatus" ).change(function() {
            
            $.ajax({
                method:"POST",
                url:"{%url 'adminDashboard:changingProductStatus'%}",
                data:{"select":$(this).val(),"orderId": $(this).find('option:selected').attr("data-orderId"),csrfmiddlewaretoken: '{{ csrf_token }}'},
                success:function(response){
                    console.log(response);
                }
            })
            
        })
        
        $('#searchForm').keyup(function(e) {
            e.preventDefault()
            $.ajax({
               method: "POST",
               url: $("#searchForm").attr("action"),
               data: $('#searchForm').serialize(),
               success: function(response) {
                console.log('received response:', response);
                    
               $("#orderlist").html(response)
            }

            });

        });
        
    </script>
{%endblock content%}
