.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
.blog-header-logo {

font-size: 2.25rem;
}

.blog-header-logo:hover {
text-decoration: none;
}
.OrderDetails li{
  font-size: 13px;
}
.OrderDetails{
  height: 300px;
}
.orderProducts .status h6 , .orderProducts .status div{
  display: inline-block;
  vertical-align: top;
}
.orderProducts .status div p{
  font-size: 13px;
  margin-bottom: 5px;
}
.adminName small{
  font-size: 12px;
  font-weight: bold;
  
}
.messageBox{
  position: relative;
  left: 38%;
  margin-top: 10px;
  animation: shake 1s  ease-in-out;
  
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}